/* Content */
.card {
  height: calc(100% - 62px);
  margin: 2px 0 0;
}

/* Search interface */
.card .container {
  pointer-events: none;
  position: relative;
}

#floating-panel {
  margin-top: 16px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

/* Search card */
.card-panel {
  margin: 0;
  padding: 16px;
  pointer-events: auto;
}

.input-field {
  margin: 0;
}

input[type=text]:not(.browser-default) {
  margin: 0;
}

/* Map */
#map {
  height: calc(100% - 60px);
  width: 100%;
}

/* Search interface */
.card .card-content {
  padding: 14px;
}

.card .card-content .card-title {
  margin-bottom: 0;
}

.card .card-title.activator {
  cursor: default;
}

.card .card-content .card-title i {
  line-height: normal;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

/* Request interface */
.card .card-reveal {
  padding: 0;
}

.card .card-reveal .card-title {
  cursor: default;
  padding: 12px 0 12px calc(100vw - 100%);
}

.card .card-reveal .card-title i {
  line-height: normal;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

.card .card-reveal .container {
  padding-left: calc(100vw - 100%);
}