/* Content */
.card {
  height: calc(100% - 62px);
  margin: 2px 0 0;
}

/* Search interface */
.card .container {
  pointer-events: none;
  position: relative;
}

#floating-panel {
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

/* Search card */
.card-panel {
  margin: 0;
  padding: 12px;
  pointer-events: auto;
}

.input-field {
  margin: 0;
}

input[type=text]:not(.browser-default) {
  font-size: 14px;
  height: 2.5rem;
  margin: 0;
}

/* Map */
#map {
  height: calc(100% - 60px);
  width: 100%;
}

/* Search interface */
.card .card-content {
  padding: 14px;
}

.card .card-content.activator {
  cursor: pointer;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.card .card-content .card-title {
  margin-bottom: 0;
}

.card .card-content .card-title i {
  line-height: normal;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

/* Request interface */
.card .card-reveal {
  padding: 0;
}

.card .card-reveal .card-title {
  padding: 12px 0 12px calc(100vw - 100%);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.card .card-reveal .card-title i {
  line-height: normal;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

.card .card-reveal .container {
  padding-left: calc(100vw - 100%);
  pointer-events: auto;
}

/* Request details */
h6 {
  margin: 0 0 8px;
}

.input-field.inline {
  margin: 0 0 16px 18px;
  width: calc(100% - 53px);
}

#indicator1 {
  margin-left: 6px;
}

#indicator2 {
  margin-left: 6px;
}

.input-field.inline .select-dropdown {
  margin-bottom: 0;
}

.row .col#details .card{
  margin-bottom: 4px;
}

.switch {
  margin: 5px 0 36px;
}

.switch label .lever {
  background-color: #84c7c1;
  margin:0 16px 3px 0;
}

.switch label .lever:after {
  background-color: #26a69a;
}

/* Request submission */
.row .col#submission .card{
  margin: 4px 0 16px;
}

table {
  width: 100%;
}

tr {
  border-bottom: 0;
}

tr:last-child td {
  padding-bottom: 13px;
}

td {
  padding: 5px 0;
  white-space: nowrap;
}

.data {
  max-width: 1px;
  overflow: hidden;
  padding-left: 16px;
  text-align: right;
  text-overflow: ellipsis;
}

.col .row {
  margin: 0;
}

#update {
  width: 100%;
  margin-bottom: 8px;
}

#confirm {
  width: 100%;
}

.switch input[type=checkbox][disabled]+.lever {
  background-color: rgba(0,0,0,0.12) !important;
}

input[type=range].disabled::-webkit-slider-thumb {
  background-color: #949494;
}
input[type=range].disabled::-moz-range-thumb {
  background-color: #949494;
}
input[type=range].disabled::-ms-thumb {
  background-color: #949494;
}

/* Responsive design */
@media only screen and (min-width: 601px) {
  .row .col#details{
    padding-right: 4px;
  }

  .row .col#submission{
    padding-left: 4px;
  }

  .row .col#submission .card{
    margin: 2px 0 16px;
  }
}