/* Formatting */
html {
  font-size: 15px;
  height: 100%;
}

body {
  height: 100%;
}

/* Navigation bar */
nav {
  height: 60px;
  line-height: 60px;
}

nav .brand-logo {
  padding: 0 16px;
}

nav .brand-logo i.material-icons {
  margin-right: 0;
}

nav i.material-icons {
  height: 60px;
  line-height: 60px;
}

nav .sidenav-trigger {
  margin: 0 16px;
}

nav ul a {
  font-size: 14px;
  letter-spacing: .5px;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul a.btn {
  margin: 0 0 4px 16px;
}

/* Navigation menu */
.sidenav {
  height: 100%;
  padding-bottom: 0;
  width: 256px;
}

.sidenav .user-view {
  height: 128px;
  margin-bottom: 0;
  padding: 0 32px;
}

.sidenav .user-view .background {
  opacity: .9;
}

.sidenav li > a {
  font-weight: normal;
  height: 50px;
  letter-spacing: .5px;
  line-height: 50px;
  padding: 0 32px;
  text-transform: uppercase;
}

/* Cross-browser vertical alignment */
.valign-table {
  display: table;
  height: 100%;
  width: 100%;
}

.valign-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Text selection color */
::selection {
  background: #26a69a;
  color: #ffffff;
}

::-moz-selection {
  background: #26a69a;
  color: #ffffff;
}

/* Responsive design */
@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 60px;
    line-height: 60px;
  }
}