/* Active color sign in button */
nav ul a.btn {
  background-color: #dfdfdf !important;
  color: #9f9f9f !important;
}

.sidenav .user-view a.btn {
  background-color: #dfdfdf !important;
  color: #9f9f9f !important;
}

/* Content */
.container {
  height: calc(100% - 60px);
  max-height: 1024px;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

.card {
  margin: 16px 0;
}

.card .card-content .card-title {
  margin-bottom: 16px;
}

/* User toggle */
.switch {
  margin: 16px 0;
}

.switch label .lever {
  background-color: #84c7c1;
  margin-bottom: 3px;
}

.switch label .lever:after {
  background-color: #26a69a;
}

/* User fields */
.col .row {
  margin: 0;
}

.input-field {
  margin: 16px 0;
}